body {
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.container div {
    box-sizing: border-box;
    min-width: 150px;
    padding: 20px;
    text-align: center;
}

.c1 {
    color: black;
    background-color: #E6EBE0;
}

.c2 {
    color: black;
    background-color: #F4F1BB;
}

.c3 {
    color: black;
    background-color: #9BC1BC;
}

.c4 {
    color: black;
    background-color: #36C9C6;
    display: flex;
    flex-wrap: wrap;
}

.c5 {
    color: white;
    background-color: #ED6A5A;
}

/* Estilo para móviles: Todas las cajas ocupan el 100% */
.c1, .c2, .c3, .c4, .c5 {
    width: 100%;
}

/* Estilo para tabletas: Cajas c2 hasta c5 ocupan el 50% */
@media (min-width: 600px) {
    .c2, .c3, .c4, .c5 {
        width: 50%;
    }
}

/* Estilo para desktop: Ajusta las cajas según el diseño */
@media (min-width: 800px) {
    .c1 {
        width: 100%;
    }
    .c2 {
        width: 100%;
    }
    .c3, .c4, .c5 {
        width: 33.33%;
    }
    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}
